*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Short Stack"," cursive";
}
header{
    padding: 100px 20px;
    .container{
    margin: 0 auto;
    padding: 20px;
     width: 100%;   
     max-width: 800px;
     background-color: rgb(17, 230, 173);
     border-radius: 20px;
     color: rgb(2, 82, 82);
    //  h1{
    //  }
    //  p{ 
    //     color:rgb(105, 0, 128); 
    //  }
     .inputbox{
        font-weight: 20px;
        color:rgb(105, 0, 128);
        padding: 10px;
        input{
            font-weight:20;
            height:40px;
            outline:none;
            padding:5px 20px;
            border-radius: 10px;
            border: 2px solid rgb(0, 111, 128);
            outline: none;
            width:100%;
            max-width:680px;
            background-color: rgb(181, 250, 232);
        }
        button{
            border-radius: 10px;
            border: 2px solid rgb(0, 111, 128);
            color:rgb(0, 111, 128);
            width:60px;
            padding:5px;
            height:35px;
            background:rgb(43, 198, 226) ;
        }
     }
     ul{
        list-style:none;
        padding:0;
        li{
            display:flex;
            align-items: center;
            width:100%;
            font-weight:20;
            border-bottom:5px solid rgb(0, 162, 255);
            justify-content:space-between;
            padding:10px;
            .div2{
                display: flex;
                width:100%;
                max-width:600px;
                align-items: center;
                justify-content:space-between;
                span{
                    width: 40px;
                    height: 40px;
                    display: flex;
                    border: 2px solid  rgb(0, 162, 255);
                    align-items: center;
                    justify-content: center;
                    i{
                        font-size: 30px;
                    }
                }
                p{
                    width:100%;
                    max-width:550px;
                }
            }
            .div1{
                width:100%;
                max-width:50px;
                display:flex;
                align-items: center;
                justify-content:space-between;
                i{
                    color:green;
                    font-size:20px;  
                }
            }
        }
     }
    }
}